body{
    background-color: #ffffff;
    opacity: 1;
    background-image:  linear-gradient(30deg, #ccceff 12%, transparent 12.5%, transparent 87%, #ccceff 87.5%, #ccceff), linear-gradient(150deg, #ccceff 12%, transparent 12.5%, transparent 87%, #ccceff 87.5%, #ccceff), linear-gradient(30deg, #ccceff 12%, transparent 12.5%, transparent 87%, #ccceff 87.5%, #ccceff), linear-gradient(150deg, #ccceff 12%, transparent 12.5%, transparent 87%, #ccceff 87.5%, #ccceff), linear-gradient(60deg, #ccceff77 25%, transparent 25.5%, transparent 75%, #ccceff77 75%, #ccceff77), linear-gradient(60deg, #ccceff77 25%, transparent 25.5%, transparent 75%, #ccceff77 75%, #ccceff77);
    background-size: 36px 63px;
    background-position: 0 0, 0 0, 18px 32px, 18px 32px, 0 0, 18px 32px;
}